body {
  font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 12px;
  margin: 0px;
  background-color:#f7f7f7;
  ul,li,p,h1,h2,h3{
  	 margin: 0;
     padding: 0;
	}
  a {
  	text-decoration:none;
  }
  .container{
  	width: 1170px;
  	margin-right: auto;
    margin-left: auto;
  }
  header {
  	height: 60px;
		padding: 0px 20px;
		display: flex;
		background: #fff;
		border: 1px solid #ECECEC;
		border-radius: 4px;
		transition: .2s;
    .logo{
      line-height: 60px;
			a {
				 font-size: 24px;
				 font-weight:bold;
				 color: #1D8CE0;
			}
    }
    nav {
			 line-height: 60px;
			 ul li {
			    display: inline-block;
			    margin-left: 25px;
			    position: relative;
			    a {
			    	color: #848484;
				    font-size: 14px;
				    text-transform: uppercase;
				    font-weight: 300;
				    text-decoration: none;
				    &:hover{
				    	color: #20A0FF;
				    }
			    }
			    .active{
				    	color: #20A0FF;
				  }

			 }
		}
	}
	.txt-footer{
		text-align: center;
    font-size: 14px;
    margin-top: 20px;
    line-height: 22px;
	}

}